* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

table {
  width: 100%;
  height: 100%;
  border: 10px solid black;
  border-collapse: collapse;
  table-layout: fixed;
}

td {
  text-align: center;
  vertical-align: middle;
  border: 5px solid black;
}

.green {
  background-color: lightgreen;
}

.pink {
  background-color: lightpink;
}

h1 {
  font-size: 5vw;
  margin: 0;
}   